[submodule "Transsion_Multilingual_Text_Normalization_for_TTS"]
	path = Transsion_Multilingual_Text_Normalization_for_TTS
	url = git@github.com:hhk1994/Transsion_Multilingual_Text_Normalization_for_TTS.git
